.config-menu {
    display: flex;
    padding: 0;
    justify-content: center;
    gap: 10px;
}

.config-menu .nav-title {
    color: white;
    background: var(--secondary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:hover {
        color: white;
        background: var(--secondary-color);
        opacity: .5;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
}